body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.box {
  width: 300px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  h1 {
    font-size: 20px;
  }

  &.dark-mode {
    background: black;
    color: #bbb;

    h1 {
      color: white;
    }

    .checkbox:hover {
      color: white;
    }
  }
}